<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cordova.handpointplugin"
    version="0.1.0">

    <name>HandPoint Plugin</name>
    <description>HandPoint Plugin</description>
    <license>Apache 2.0</license>
    <keywords>handpoint, BLE, arduino</keywords>


    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <js-module src="www/handpoint.js" name="HandPointPlugin">
        <clobbers target="com.cordova.handpointplugin" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="HandPointPlugin">
                <param name="android-package" value="com.cordova.handpointplugin.HandPointPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/cordova/HandPointPlugin.java"
            target-dir="src/com/cordova/handpointplugin"/>

		<source-file src="src/android/libs/hapi-android-3.2.5.jar"
                target-dir="libs" />
        <source-file src="src/android/libs/hapi-android-3.2.5-javadoc.jar"
                target-dir="libs" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

    <platform name="ios">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="HandPointPlugin">
                <param name="ios-package" value="HandPointPlugin"/>
            </feature>
        </config-file>

        <!-- Simulator -->
        <source-file src="src/ios/libs/HeftSimulatorLibrary/libheft.a" framework="true" />
        <header-file src="src/ios/libs/HeftSimulatorLibrary/include/Cmdids.h" />
        <header-file src="src/ios/libs/HeftSimulatorLibrary/include/HeftClient.h" />
        <header-file src="src/ios/libs/HeftSimulatorLibrary/include/HeftManager.h" />
        <header-file src="src/ios/libs/HeftSimulatorLibrary/include/HeftRemoteDevice.h" />
        <header-file src="src/ios/libs/HeftSimulatorLibrary/include/HeftStatusReportPublic.h" />

        <!-- Live device -->
        <!--source-file src="src/ios/libs/HeftLibrary/libheft.a" framework="true" />
        <header-file src="src/ios/libs/HeftLibrary/include/Cmdids.h" />
        <header-file src="src/ios/libs/HeftLibrary/include/HeftClient.h" />
        <header-file src="src/ios/libs/HeftLibrary/include/HeftManager.h" />
        <header-file src="src/ios/libs/HeftLibrary/include/HeftRemoteDevice.h" />
        <header-file src="src/ios/libs/HeftLibrary/include/HeftStatusReportPublic.h" /-->

        <!-- CoreBlueooth -->
        <framework src="CoreBluetooth.framework" />
        <!-- CoreBlueooth -->
        <framework src="CoreSecurity.framework" />
        <!-- C++ support -->
        <framework src="libc++.dylib" />

        <!-- Plugin files -->
        <header-file src="HandPointPlugin.h" />
        <source-file src="HandPointPlugin.m" />

        <!-- Reason for Bluetooth usage -->
        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default=" "/>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>

        <!-- External accessory protocol -->
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
          <array>
              <string>com.datecs.pinpad</string>
          </array>
        </config-file>

    </platform>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>
</plugin>
